# Python
__pycache__/
*.pyc
.venv/
env/

# Node / WebXR
node_modules/
dist/
build/

# ArcGIS / GIS
*.aprx
*.tbx
*.gdb/
*.slpk
*.lyrx
*.tif
*.tiff
*.las
*.laz
*.shp
*.shx
*.dbf
*.prj
*.kml
*.kmz
*.geojson
*.gpkg

# Large data
data/raw/
data/processed/
data/temporal/

# Unity / Unreal
Library/
Temp/
Logs/
Build/

# OS files
.DS_Store
Thumbs.db

# ZIPs
*.zip
